<div class="row">
	<form class="form col-sm-6 col-sm-offset-3" data-ng-submit="reset()">
		<h1>Reset password</h1>
		<hr class="colorgraph">
		<input type="hidden" name="csrf_token" data-ng-model="token">
		<div class="form-group">
			<input class="form-control input-lg" data-ng-model="email" type="email" name="email" title="email" placeholder="email" required >
		</div>
		<hr class="colorgraph">
		<div class="row">
			<div class="col-sm-6"><input class="btn btn-danger btn-lg btn-block" type="submit" value="Reset"></div>
		</div>
	</form>
</div>